<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <connectionStrings>
    <add name="constr1" 
         connectionString="data source=(localdb)\MSSQLLocalDB; database=FISDemo; integrated security=true;"/>
    <add name="constr2" 
         connectionString="data source=(localdb)\MSSQLLocalDB; database=FISDemo; User Id=sa; Password=admin@123;"/>
  </connectionStrings>
</configuration>